*{
    margin:0; 
    padding:0;
    box-sizing:border-box;
}
/* header top-bar section style */
body, html {
    margin: 0;
    padding: 0;
}
.top-bar{
    background-color: rgb(255, 248, 242);
    width:100%;
    /* position:fixed; */
    /* padding:15px 0; */
    background-image: url('../images/header_bg.png');
    background-repeat:no-repeat;
    background-position:bottom right;
    background-size:45% ;
    
}
.side-bar{
    background-image: url('../images/developer.png');
    
    background-repeat: no-repeat;
    background-position:left top;
    background-size:contain;
    margin-left:40px;
    padding-top:15px;
    padding-bottom:15px;
    /* margin-top:15px; */
 
}

.home-page {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-variation-settings:
      "wdth" 100;
  }
  nav {
    display:flex;
    justify-content: space-between;
  }
  nav .nav-title{
    font-size:36px;
    font-weight: bolder;
    margin-left:200px;
    margin-top:20px;
  }
  nav .nav-subtitle{
    color:#FD6E0A;
  }
  nav ul {
    display:flex;
    margin-right:200px;
    align-items: center;
  }
  nav ul li {
    list-style:none;
    margin:25px;

  }
  nav ul li a {
    text-decoration:none;
color:#474747;
font-weight: 400px;
font-size:16px;
  }
  /* shared style */
  nav ul li .btn-primary , .input-box .btn-primary{
    background-color:#FD6E0A;
    padding:10px;
    border-radius:5px;
    border:none;
    
  }
  nav ul li .btn-primary a ,.input-box .btn-primary{
 font-size:16px; 
 font-weight: bold;
 color:#FFFFFF;
 cursor:pointer;
  }
  /* nav section style end  */
.images-content{
    display:flex;
    justify-content:space-between;
    align-items: center;
}
.images-content img{
  /* margin-right:150px; */
}
  .content{
    width:470px;
    margin-left:200px;
    /* margin-right:100px; */
  }
  .content .content-title{
color: rgb(71, 71, 71);
font-family: Open Sans;
font-size: 33px;
font-weight: 600;
line-height: 50px;
letter-spacing: 0%;
  }
  .content .content-title-two{
color: rgb(24, 24, 24);
font-family: Open Sans;
font-size: 60px;
font-weight: 700;
line-height: 90px;
letter-spacing: 0%;
  }
  .content .content-description{
color: rgb(117, 117, 117);
font-family: Open Sans;
font-size: 14px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0%;
  }
  .content .btn-second {
background-color:rgb(253, 110, 10);
padding:10px;
color: rgb(255, 255, 255);
font-family: Open Sans;
font-size: 16px;
font-weight: 700;
line-height: 22px;
letter-spacing: 0%;
text-align: center;
margin-top:10px;
margin-right:10px;
border:none;
cursor:pointer;
  }
  .content .btn-tirtiary{
 color: rgb(253, 110, 10);
font-family: Open Sans;
font-size: 16px;
font-weight: 700;
line-height: 22px;
letter-spacing: 0%;
text-align: center;
border: 1px solid rgb(253, 110, 10);
border-radius: 5px;
padding:10px;
cursor:pointer;
margin-top:10px;
  }
  /* main section srt */

  main{
    /* background-color: #FFF8F3; */
   max-width:910px;
    margin:0 auto;
  }
  .About{
    background-color: #FFF8F3;
    width:700px;
    padding:90px 120px;
    /* margin-top:20px; */
    text-align:center;
    margin-top:90px;
    margin-left:100px;
  }

.sub-about{
  background-color: #FFFFFF;
}


  .About .sub-about h3{
    font-size:24px;
    font-weight: bold;
    color:#181818;
  }
  .About  .sub-about>p{
    font-size:13px;
    font-weight: 400px;
    line-height: 23px;
    color:#757575;
    margin-top:20px;
    margin-bottom:10px;
  }

.more-items{
  display:flex;
  justify-content:space-around;
  margin-top:10px;
}

  .item .description{
    font-size:13px;
    font-weight: 400px;
    color:#757575;
  }
  .item .description-title{
    font-size:12px;
    font-weight: bold;
    line-height: 20px;
    color:#474747;
  }
  /* Skills style */
.Skills-All{
  margin-top:20px;
  margin-left:30px;
}



  .Skills-All .Experience>h2{
    font-size:25px;
    font-weight: bold;
    color:#181818;
    text-align:center;
  }
  .Skills-All .Experience>p{
    font-size:13px;
    font-weight: 400ox;
    line-height: 20px;
    color:#757575;
    text-align:center;
    width:730px;
    margin-left:40px;
  }
  .Experience{
    margin-top:50px;
  }
  
  /* skills card style  */

.Skills-name{
  display:flex;
  justify-content: space-around;
  margin-top:50px;
}

  .js{
    width:215px;
    height: 302px;
    padding:10px;
    
  }
  .js h2{
    font-size:16px;
    font-weight: bold;
    color:#181818;
    margin-top:20px;
  }
  .js p{
    font-size:13px;
    font-weight: 400px;
    line-height:23px;
    color:#757575;
    margin-top:20px;
  }
  .rj{
    width:215px;
    height: 302px;
    padding:10px;
  }
  .rj h2{
    font-size:16px;
    font-weight: bold;
    color:#181818;
    margin-top:20px;
  }
  .rj p{
    font-size:13px;
    font-weight: 400px;
    line-height:23px;
    color:#757575;
    margin-top:20px;
  }
  .node{
    width:215px;
    height: 302px;
    padding:10px;
  }
  .node h2{
    font-size:16px;
    font-weight: bold;
    color:#181818;
    margin-top:20px;
  }
  .node p{
    font-size:13px;
    font-weight: 400px;
    line-height:23px;
    color:#757575;
    margin-top:20px;
  }
  .Mongo-DB{
    width:215px;
    height: 302px;
    padding:10px;
  }
  .Mongo-DB h2{
    font-size:16px;
    font-weight: bold;
    color:#181818;
    margin-top:20px;
  }
  .Mongo-DB p{
    font-size:13px;
    font-weight: 400px;
    line-height:23px;
    color:#757575;
    margin-top:20px;
  }
  /* Edu-skills  */
  .resume{
    font-size:26px;
    font-weight: bold;
    text-align: center;
  }
  .Edu-Skills{
    width:410px;
    height:140px;
  }
  .Edu-Skills h2 {
    font-size:16px;
    font-weight: bold;
    color:#474747;
    margin-top:20px;

  } 
  .Edu-Skills h4{
    font-size:13px;
    font-weight: 400px;
    color:#757575;
    margin-top:5px;
  }
  .Edu-Skills p{
    font-size:13px;
    font-weight: 400px;
    color:#757575;
    margin-top:10px;
    margin-bottom:0px;
  }
  .name-dev p{
    font-size:13px;
    font-weight: 400px;
    color:#757575;
    margin-top:10px;
    margin-bottom:0px;
  }
  .name-dev h4{
    font-size:13px;
    font-weight: 400px;
    color:#757575;
    margin-top:5px;
  }
  .name-dev h2{
    font-size:16px;
    font-weight: bold;
    color:#474747;
    margin-top:20px;
  }
  .horizontal-break{
width:430px;
color:#D1D1D1;
  }
  .name-dev{
    width:410px;
    height: 140px;
  }
  .developer-section{
    display:flex;
    margin-left:10px;
  }
  .technology{
    margin-left:5px;
  }
  .Education {
    font-size:13px;
    font-weight: bold;
    color:#474747;
    margin-top:50px;
  }
  .dev-exp{
    font-size:13px;
    font-weight: bold;
    color:#474747;
    margin-top:50px;
  }
  /* button */
  .btn-cv{
    color: white;
    background-color: #FD6E0A;
font-size: 16px;
font-weight: 700;
line-height: 22px;
letter-spacing: 0%;
border: 1px solid rgb(253, 110, 10);
border-radius: 5px;
padding:10px;
cursor:pointer;
margin-top:10px;
  }
  .btn-rc{
    text-align: center;
  }
  /* footer style */
.lets-go{
  display:flex;
 background-color: #FFF8F3;
 margin-top:20px;
 padding:50px;
 /* justify-content:space-between; */
 gap:50px;
}
.footer-image-icon{
  margin-left:230px;
  margin-top:50px;
}
  .footer-image-icon h3{
font-size:28px;
font-weight: bold;
color:#181818;
  }
  .footer-image-icon p{
    font-size:13px;
    font-weight: 400px;
    line-height:23px;
    color:#474747;
    margin-top:10px;
    width:450px;
    margin-bottom:10px;
  }
.message h3 {
font-size:25px;
font-weight: bold;
color:#181818;
margin:10px;
}
.input-box{
  display:block;
}
.footer-column h3{
  font-size:25px;
font-weight: bold;
color:#181818;
margin:10px;
}
.footer-column .input-name , .input-email{
width:290px;
height: 52px; 
color:#FFFFFF;
padding:10px;
border:none;
margin-bottom:10px;
}
.footer-column .input-massage-box{
  padding:10px;
  width:290px;
  border:none;
  margin-bottom:10px;
}